body {
    width: 100%;
    height: 100%;    
}

p {
    margin: 10px 0;
}

textarea {
    resize: none;
}

.content {
    position: relative;
    padding: 40px;
}

/* YOUTUBE PLAYER */
iframe#ytplayer {
    display: none;
}

/* SOUNDCLOUD PLAYER */
iframe#scplayer {
    display: none;
}

/* SEARCH */
.search {
    margin-bottom: 25px;
}

.search-bar {
    padding: 5px;
    width: 45%;
}

.query-response {
    
}

.query-response.error {
    color: red;
}

.query-response.confirm {
    color: green;
}

.search-results-container {
    margin: 10px 0;
}

.search-results {
    background: #eeeeee;
    padding: 5px;
    margin-bottom: 5px;
}

.search-results:empty {
    padding: 0;
    margin-bottom: none;
}

.search-result-item {
    margin-bottom: 10px;
}

.search-add-to-playlist {
    margin-left: 20px;
    cursor: pointer;
    float: right;
}

/* DISPLAY */
.song-cover-art {
    /*width: 75px;*/
    max-height: 75px;
    display: none;
    margin: 10px;
}

.song-cover-art.visible {
    display: block;
}

/* ANNOTATION EDITOR */
img[src*="thumbnail"] {
   width: 75px;
}

img[src*="small"] {
   width: 150px;
}

img[src*="medium"] {
   width: 200px;
}

img[src*="large"] {
   width: 500px;
}

img[src*="bordered"] {
   border: 1px solid black;
}

img[src*="wrap"] {
    float: left;
    margin-right: 10px;
}

/* CONTROLS */
.progress-bar-container {
    position: relative;
    margin: 20px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.progress-bar-background {
    width: 100%;
    background-color: #cccccc;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    height: 20px;
}

.progress-bar-background:hover {
    /*background-color: #eeeeee;*/
    cursor: pointer;
}

.progress-bar {
    position: absolute;
    width: 0;
    height: 10px;
    margin-top: 5px;
    z-index: 2;
    /*opacity: 0.5;*/
    background-color: #0075ff;
    
    /*
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.progress-bar:hover {
    background-color: #3b75ba;
}

.annotations-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*outline: 1px solid black;*/
}

.annotation-bar-item {
    width: 0;
    height: 100%;
    background: #f7ef79;
    float: right;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.annotation-bar-item:hover {
    background: #ffd800;
}

.annotation-bar-separator {
    width: 0;
    height: 100%;
    float: right;
}

.annotation-bar-item:not(:first-child) {
    box-shadow: 1px 0px 0px 0px white;
}

.annotation-bar-separator:not(:first-child) {
    box-shadow: 1px 0px 0px 0px white;
}

.volume-control {
    margin-top: 15px;
}

.volume-level {
    width: 40px;
    float: left;
}

.controls button {
    margin-bottom: 5px;
    cursor: pointer;
}

/* DIALOGS */
.dialog {
    display: none;
}

.song-edit-dialog input {
    width: 450px;    
}

.song-edit-dialog textarea {
    width: 450px;
    height: 200px;
}

.ui-dialog {
    position: fixed;
}

.text-dialog-input {
    width: 300px;
    height: 300px;
    text-align: left;
    padding: 5px;
    margin: 5px 0px;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 14px !important;
}